In [1]:
#整理数据，合并数据
#堆叠：横向和纵向, merge and concat
import pandas as pd
import numpy as np

In [7]:
import os
os.getcwd()
os.chdir(r'/Users/wangxiang/Desktop/')

In [6]:
import xlrd #专门用来读取excel的库

In [8]:
workbook = xlrd.open_workbook('随机结果.xlsx')

In [10]:
sheet_name=workbook.sheet_names()

In [11]:
sheet_name#返回工作表名称

['one']

In [12]:
order1 = pd.read_excel('随机结果.xlsx',sheet_name='one')
order2 = pd.read_excel('随机结果.xlsx',sheet_name='two')
#etc. Of course this will 报错，因为咱只有一个hhhh

XLRDError: No sheet named <'two'>

In [ ]:
order = pd.concat([order1,order2],axis=0,ignore_index=True)#axis=0因为是横向叠加，ignore index意味着重置索引

In [19]:
basic = pd.DataFrame()

In [20]:
for i in sheet_name:
    basic_i = pd.read_excel('随机结果.xlsx',sheet_name=i)
    basic = pd.concat([basic,basic_i],axis=0,ignore_index=True)

In [21]:
basic.reset_index()#也可以

   index   入学年            姓名        学号     年级 性别         班级
0      0  2018        罗崇赫Jim  18120593     高二  男     高18级5班
1      1  2017     奥欣谕Olivia  17150119  四年制高二  女    四高18级2班
2      2  2018    周心语Felicia  18120600     高二  女     高18级5班
3      3  2018      冯菀昕Wandy  18110238     高一  女     高19级6班
4      4  2018     赵毓子Spring  18110261  四年制高一  女     高18级2班
5      5  2017  郄茹茵 Isabella  17150115  四年制高二  女    四高18级1班
6      6  2016       何宇骐Lucy  16110110     高三  女  高三A-Level
7      7  2018       丛子祺Zach  16110478     高三  男     高17级2班
8      8  2018     杜雅欣 Flora  18110131     高一  女     高19级5班
9      9  2018      刘梵霖 Joel  18110176     高一  男     高19级5班

In [ ]:
df = pd.read_csv('lalalala这玩意没有别运行.csv',dtype={'user_id':str})#create another df1...

#Learn 关联(下代码)
pd.merge(left=df,right=df1,how='inner'，left_on="user_id",right_on='user_id') 
#inner就是内连接，就是大的匹配小的.左链接就是左边全收进来，右边匹配不上的是空值

In [ ]:
#关联的数据类型需要一样
#这个是自己的练习hhh
df1 = pd.read_excel('lovelove',sheet_name='boys',dtype={'social_position':str})
df2 = pd.read_excel('lovelove',sheet_name='girls',dtype={'physical_attractiveness':str})
pd.merge(left=df1,right=df2,how='right',left_on='social_position',right_on='physical_attractiveness')